<!DOCTYPE HTML>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="layout/default.html :: headerfiles"></th:block>
    <style>
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}
td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}
tr:nth-child(even) {
background-color: #dddddd;
}
</style>
</head>
<body>
<nav>
    <th:block th:insert="/default.html :: navbar"></th:block>
</nav>
<div class="container">
    <br> <br> <br>
    <h3>----- CATALOGUE -----</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>PRICE</th>
            <th>REMOVE</th>
            <th>BASKET +</th>
        </tr>
        <tr th:each="art : ${catalog}">
            <td><a th:href="@{'/showJson/'+${art.id}}" th:text="${art.id}"></a></td>
            <td id="artName" th:text="${art.name}"></td>
            <td th:text="${art.date}">59.9</td>
            <td><a th:href="@{'/delete/'+${art.id}}">Supprimer</a></td>
            <td><a th:href="@{'/addToBasket/'+${art.id}}">ajouter au panier</a></td>
        </tr>
    </table>
</div>
<nav>
    <th:block th:insert="/default.html :: footernavbar"></th:block>
</nav>
<div>
    <th:block th:insert="/default.html :: scripts">
</div>
</body>
</html>